#header {
	background: #00b5f8  url("../../images/content/header-bg.jpg") repeat-x;
	height: 57px;
}

#header #top {
	margin: 0 auto;
	width: 940px;
	background: #00b5f8  url("../../images/content/header-top.jpg") repeat-x;
	height: 23px;
}

#sub-header {
	margin-top: 23px;
	width: 776px;
	margin: 0 auto;
}


#logo {
	text-indent: -9999px;
	float: left;
	background: #00b5f8  url("../../images/content/gr-cms.gif");
	width: 382px;
	height: 33px;
}

#moto {
	text-indent: -9999px;
	float: left;
	background: #00b5f8  url("../../images/content/moto.gif");
	width: 394px;
	height: 33px;
}